#################################################
# GRADLE
#################################################

/.gradle/
/build/

!gradle-wrapper.jar
.gradletasknamecache

#################################################
# INTELLIJ
#################################################

/.idea/
